
.navbar {
    background-image: url('https://vi.wordpress.org/files/2018/09/20_motorboat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90px;

}

.nav-link {
    font-size: large;
    font-weight: bold;
    color: white !important;
}

.navbar-brand {
    font-size: large;
    font-weight: bold;
    font-family: cursive;
    color: white !important;
}
body {
    padding-top: 70px; 
  }
  