@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

        /* Custom CSS for background image */
        body,
        html {
            height: 100%;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
        }

        .bg-image {
            background-image: url('https://images.unsplash.com/photo-1533384507666-c4634f3e72a8?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            background-size: contain;
            background-position: center;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .wrapper {
            background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
            padding: 30px 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            text-align: center;
            max-width: 400px;
            width: 100%;
            color: #fafafa; /* White text color */
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            font-size: 1.2rem;
            margin-top: 10px;
            color: #fff;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"]
        {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.1); /* Transparent background */
            color: #fff;
            font-family: 'Open Sans', sans-serif;
        }

        input[type="submit"] {
            padding: 10px;
            margin-top: 20px;
            background-color: #010407; /* Dark background */
            color: #752aee; /* Purple text color */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-family: 'Open Sans', sans-serif;
        }

        input[type="submit"]:hover {
            background-color: hsl(210, 2%, 45%); /* Darker background on hover */
        }

        .crtacc {
            margin-top: 20px;
            text-align: center; /* Center align the content */
        }
        
        .crtacc a {
            color: #ffffff; /* White text color */
            text-decoration: none;
            font-size: 0.9rem; /* Adjust font size */
            transition: text-decoration 0.3s ease; /* Smooth transition for underline */
        }
        
        .crtacc a:hover {
            text-decoration: underline;
        }
        